@page "/game"

@using Blokus.Components;
@using Blokus.Components.Game;

@inject LobbyService LobbyClient;
@inject LobbySingleton LobbyServer;
@inject NavigationManager NavigationManager

<PageTitle>Blokus</PageTitle>

<div style="display: flex">
    <GameComponent />
    <div style="height: 737px; margin-top: 20px">
        <ChatBar 
            ChatThread=@LobbyServer.ChatThread 
            SendMessage=@((text) => LobbyServer.SendChat(LobbyClient.Player,text)) 
        />
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        if (LobbyClient.JoinedGame == null)
        {
            try
            {
                NavigationManager.NavigateTo("/blokus");
            }
            catch (Exception ex)
            {
                // do nothing. Exception thrown for no reason
            }
        }
    }
}
